@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #52D1DC;
    --secondary-color: #475B5A;
    --accent1-color: #8D8E8E;
    --accent2-color: #BBBBBF;

    --heading-font: Roboto, serif;
    --paragraph-font: Rock Salt, serif;

    --nav-background-color: #52D1DC;
    --nav-link-color: #475B5A;
    --nav-hover-link-color: #8D8E8E;
    --nav-hover-background-color: #BBBBBF;
}

main {
	max-width: 980px;
	margin: 2rem auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--nav-background-color);
}

p {
    padding: 25px;
}

header nav {
    background-color: var(--accent2-color);
    width: 100%;
    display: flex;
}


nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

nav.sociallinks a{
    text-decoration: none;
}

nav.sociallinks {
    justify-content: right;
}

div.sociallinks {
    background-color: var(--nav-background-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.sociallinks > * {
    width: 30%;
    height: auto;
}

div.sociallinks p {
    text-align: center;
}

div.hero {
    position: relative;
}

.hero article{
    position: absolute;
    display: flex;
    top: 0;
    padding: 2% 2%;
    margin: 26% 8%;
    background-color: #52d1dc93;
}

.hero article img {
    max-width: 200px;
}

.hero h1 {
    position: absolute;
    top: 6rem;
    text-align: center;
    max-width: 100%;
    width: 100%;
    padding: 1% 0;
    background-color: #8d8e8eb2;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.sociallinks a img {
    width: 100%;
    max-width: 50px;
}

header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
	width: 100px;
	height: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
}

.adventure {
    display: flex;
}

.adventure img {
    width: 100%;
    max-width: 250px;
    height: 100%;
}

section.reach {
    background-color: var(--accent2-color);
}

.reach {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    max-width: 1040px;
}

.reach h1{
    color: var(--secondary-color);
}
div.reach p{
    width: 50%;
}

.cardsholder, .empsholder {
    display: flex;
    justify-content: space-between;
    margin: 1rem 10rem;
}

.cards, .emps, .trips {
    text-align: center;
    border: 1px solid gray;
    border-radius: 2rem;
    width: 45%;
    background-color: rgb(201, 198, 198);
}

.cards h2, .info h2, .emps h2 {
    color: var(--nav-link-color);
}

.fullwidth {
    max-width: 1040px;
    margin: 0 auto;
}

.cards button {
    background-color: gray;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 50%;
}

.headquarters {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.headquarters > .info {
    text-align: center;
    margin: auto 0;
    padding: 1rem;
    background-color: rgb(201, 198, 198);
}

.empsholder {
    margin: 1rem auto;
}

.emps {
    width: 30%;
    padding: 1rem 0;
    margin: 2rem 0;
}

.empsholder img, .trips_cont img {
    width: 200px;
}

.form {
    display: grid;
    justify-content: center;
    align-items: center;
}

.form-item {
    display: grid;
    align-items: center;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
    width: 100%;
}

input, select, textarea {
    padding: 0.3rem;
    font-size: 1.1rem;
    border: 2px solid gray;
    border-radius: 0.3rem;
}

input[type="textarea"] {
    height: 100px;
}

button {
    margin: 1rem 0;
    background-color: var(--accent1-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--nav-link-color);
}

.emailname {
    display: flex;
    justify-content: space-between;
}
.emailname > .form-item {
    width: 45%;
}

.form {
    background-color: var(--accent2-color);
}

.form h1, .form h2 {
    color: var(--nav-link-color);
}

form > h1, p {
    text-align: center;
}

form > .form-item {
    margin: 1rem 0;
}

.radiobuttoncont, .checkboxcont {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    margin: 1rem 0;
}

.radiobutton, .checkbox {
    display: flex;
    align-content: start;
    align-items: center;
}

.radiobutton input, .checkbox input{
    height: 30px;
    width: 20px;
}

.radiobutton > label, .checkbox > label {
    padding-left: 1rem;
}

.wireframe {
    text-align: center;
}

.wireframe a {
    color: black;
    text-decoration: none;
}

footer {
    max-width: 1040px;
    margin: 1rem auto;
}

footer nav {
    background-color: var(--nav-background-color);
    width: 100%;
    display: flex;
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1040px;
}

.banner img {
    width: 100%;
}

.banner h2 {
    position: absolute;
    font-size: 50px;
    padding: 1rem;
    background-color: var(--accent2-color);
    color: var(--nav-link-color);
    opacity: 0.85;
    border-radius: 1rem;
}

.trips {
    width: 30%;
}

.trips h2 {
    color: var(--nav-link-color);
}

.trips img {
    width: 200px;
    height: 200px;
}

.trips_cont {
    display: flex;
    justify-content: space-between;
}

.trips > a > button {
    width: 65%;
}

.triph1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.triph1 h1 {
    color: var(--nav-link-color);
}
